body {
	margin:0;
	background-color: #eee;
}

p{
	padding: 10px;
}

h3 {
	padding-left: 10px;
}

.menumobile {
	display: none;
	height: 30px;
	text-align: center;
	cursor: pointer;
	margin-top: 10px;
}

.site {
	width: 100%;
	max-width: 800px;
	margin: auto;
	background-color: #fff;
}
/*topo*/
	.topo {
		width: 100%;
		height: 100px;
		line-height: 100px;
		text-align: center;
		background-color: orange
	}

	.topo h1 {
		text-transform: uppercase;
		font-size: 30px;
		margin: auto;
	}

/*menu*/
	.menu {
		width: 25%;
		height: 300px;
		float: left;
	}

	.menu ul, 
	.menu li {
		margin: 0;
		padding: 0;
	}
	.menu li {
		list-style: none;
		height: 25px;
		border-bottom: 1px solid #ccc;
		padding-left: 10px;
		cursor: pointer;
	}
	.menu ul li:hover {
		background-color: #ccc;
		border-bottom: 2px solid #fff;
		color: #fff;
		transition: 0.2s linear;
		transform: scale(1.1);
	}

/*conteudo central*/
	.center {
		width: 50%;
		height: 400px;
		float: left;
	}

	.center h3{
		text-align: center;
		font-size: 1.2em;
		text-transform: uppercase;
		margin-top: 50px;
	}
	.center p {
		font-size: 13px;
		letter-spacing: 3px;
		text-align: center;
	}
	.center img {
		width: 300px;
		height: auto;
		margin: auto;
		margin-left: 15%;
	}


/*menu lateral*/
	.aside {
		width: 25%;
		height: 400px;
		float: right;
		background-color: #ccc;
	}

/*rodape*/
	.rodape {
		clear: both;
		width: 100%;
		height: 50px;
		background-color: #d8d8d8;
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;
		color: #fff;
		line-height: 50px;
	}


@media only screen and (min-width: 500px) and (max-width: 700px){
	.center {
		width: 75%;
	}

	.aside {
		width: 75%;
		height: 100px;
	}
}


@media only screen and (max-width: 500px) {
	.menumobile {
		display: block;
	}
	.menu ul {
		display: none;
	}

	.menu {
		width: 100%;
		height: 30px;
	}
	.center {
		width: 100%;
	}
	.aside {
		width: 100%;
		height: 100px;
	}
}